
/* universal */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* shared */

.container{
    max-width: 1140px;
    margin: auto;
}

/* poppins */
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* inter family */


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Body */

/* Header */

/* Nav Bar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
}

.navbar ul{
    display: flex;
    gap: 24px;
    
}
.navbar ul li{
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
    color: rgba(112, 112, 112, 1.00);
}

.navbar-search{
    position: relative;
}
.navbar-search input{
    padding:15px 20px;
    width: 508px;
    border-radius: 66px;
    border: none;
    background-color: rgba(241, 241, 241, 1.00);
}
.navbar-search i{
    position: absolute;
    right: 20px;
    top: 15px;
    color: rgba(186, 186, 186, 1.00);
}

/* Banner */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 141px;
    background-color: rgba(254, 234, 233, 1.00);
    margin-top: 63px;
    padding:38px 63px 38px 43px;
    border-radius: 20px;
}
.banner img{
    width: 402px;
    height: 378px;
}

.banner h1{
font-size: 56px;
font-weight: bold;
color: rgba(31, 31, 31, 1.00);
margin-bottom: 8px;
}
.banner p{
    color: rgba(78, 78, 78, 1.00);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.banner h3{
    color: rgba(255, 19, 111, 1.00);
    font-weight: 700;
    font-size: 41px;
    margin-bottom: 8px;
}
.banner button{
    background-color: rgba(255, 88, 155, 1.00);
    padding: 14px 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1.00);
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.banner button i{
    margin-left: 5px;
}

/* header-category */


.header-categories{
    padding: 64px 0px 30px 0px;
}
.category-container{
    display: flex;
    gap: 26px;

}
.header-categories h2{
font-size: 36px;
font-weight: 600;
}
.category-card{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    width: 360px;
    height: 120px;
    font-size: 36px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-top: 24px;
    
}
.category-container .watch{
    background: linear-gradient(rgb(255, 156, 53),
rgb(255, 208, 25));
}
.category-container .bag{
    background: linear-gradient(rgb(255, 88, 155),
rgb(255, 19, 111));
}
.category-container .shoes{
    background: linear-gradient(rgb(66, 137, 255),
rgb(63, 7, 248));
}
.category-card img {
    width: 94px;
    height: 94px;
}


/* main*/
main{
    background-color: rgba(244, 244, 244, 1.00);
 
}
/*Shoes Section */

.shoes-container{
    display: flex;
    gap: 24px;
    
    
}
.shoes-card{
    width: 360px;
    background-color: rgb(255, 255, 255);
    padding: 24px 12px;
    border-radius: 20px;
}
.shoes-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.shoes-header h2{
    font-size: 36px;
    font-weight: 600px;
    margin: 46px 0px 24px;
}
.shoes-header p{
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 157, 0, 1.00);
}
.shoes-card img{
    width: 336px;
    height: 202px;
    margin-bottom: 22px;
}
.shoes-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.shoes-card p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(78, 78, 78, 1.00);
    text-align: center;
    margin-bottom: 16px;
}

.shoes-card h4{
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
}
.shoes-card button{
    padding: 14px 20px;
    background-color: rgba(0, 0, 0, 1.00);
    color: rgba(255, 255, 255, 1.00);
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    display: block;
    margin: 0px auto;
    cursor: pointer;
}

/* bags section */
